<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pfm_app_url</key>
	<string>https://github.com/twocanoes/xcreds-mobile</string>
	<key>pfm_description</key>
	<string>XCreds 5.9 (9148) OAuth Settings</string>
	<key>pfm_documentation_url</key>
	<string>https://twocanoes.com/knowledge-base/xcreds-admin-guide/#preferences</string>
	<key>pfm_domain</key>
	<string>com.twocanoes.xcreds-mobile</string>
	<key>pfm_format_version</key>
	<integer>1</integer>
	<key>pfm_last_modified</key>
	<date>2026-04-02T16:11:13Z</date>
	<key>pfm_platforms</key>
	<array>
		<string>iOS</string>
	</array>
	<key>pfm_subkeys</key>
	<array>
		<dict>
			<key>pfm_default</key>
			<string>Configures XCreds Mobile configuration preferences</string>
			<key>pfm_description</key>
			<string>The human-readable description of this payload. This description appears on the Detail screen.</string>
			<key>pfm_description_reference</key>
			<string>Optional. A human-readable description of this payload. This description is shown on the Detail screen.</string>
			<key>pfm_name</key>
			<string>PayloadDescription</string>
			<key>pfm_title</key>
			<string>Payload Description</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>XCreds</string>
			<key>pfm_description</key>
			<string>The human-readable name for the profile payload. The name appears on the Detail screen and doesn&apos;t need to be unique.</string>
			<key>pfm_description_reference</key>
			<string>A human-readable name for the profile payload. This name is displayed on the Detail screen. It does not have to be unique.</string>
			<key>pfm_name</key>
			<string>PayloadDisplayName</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Display Name</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>com.twocanoes.xcreds-mobile</string>
			<key>pfm_description</key>
			<string>The reverse-DNS-style identifier for the payload. This identifier is usually the same as the TopLevel value, with an additional appended component. This string must be unique within the profile.
During a profile replacement, the system updates payloads with the same &apos;PayloadIdentifier&apos; and &apos;PayloadUUID&apos; in the old and new profiles.</string>
			<key>pfm_description_reference</key>
			<string>A reverse-DNS-style identifier for the specific payload. It is usually the same identifier as the root-level PayloadIdentifier value with an additional component appended.</string>
			<key>pfm_name</key>
			<string>PayloadIdentifier</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Identifier</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>com.twocanoes.xcreds-mobile</string>
			<key>pfm_description</key>
			<string>The payload type, which each payload domain&apos;s reference page specifies.</string>
			<key>pfm_description_reference</key>
			<string>The payload type.</string>
			<key>pfm_name</key>
			<string>PayloadType</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Type</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>The globally unique identifier for the payload. The actual content is unimportant, but must be globally unique. In macOS, use &apos;uuidgen&apos; to generate UUIDs.
During a profile replacement, the system updates payloads with the same &apos;PayloadIdentifier&apos; and &apos;PayloadUUID&apos; in the old and new profiles.</string>
			<key>pfm_description_reference</key>
			<string>A globally unique identifier for the payload. The actual content is unimportant, but it must be globally unique. In macOS, you can use uuidgen to generate reasonable UUIDs.</string>
			<key>pfm_format</key>
			<string>^[0-9A-Za-z]{8}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{12}$</string>
			<key>pfm_name</key>
			<string>PayloadUUID</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload UUID</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<integer>1</integer>
			<key>pfm_description</key>
			<string>The version of this specific payload.</string>
			<key>pfm_description_reference</key>
			<string>The version number of the individual payload.
A profile can consist of payloads with different version numbers. For example, changes to the VPN software in iOS might introduce a new payload version to support additional features, but Mail payload versions would not necessarily change in the same release.</string>
			<key>pfm_name</key>
			<string>PayloadVersion</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Version</string>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>The OIDC client id public identifier for the app.</string>
			<key>pfm_documentation_url</key>
			<string>https://twocanoes.com/knowledge-base/xcreds-admin-guide/#preferences</string>
			<key>pfm_name</key>
			<string>clientID</string>
			<key>pfm_title</key>
			<string>Client ID</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Client Secret sometimes required by identity provider.</string>
			<key>pfm_documentation_url</key>
			<string>https://twocanoes.com/knowledge-base/xcreds-admin-guide/#preferences</string>
			<key>pfm_name</key>
			<string>clientSecret</string>
			<key>pfm_title</key>
			<string>Client Secret</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>5.1</string>
			<key>pfm_default</key>
			<true/>
			<key>pfm_description</key>
			<string>Show the system info popover as active when first starting</string>
			<key>pfm_documentation_url</key>
			<string>https://twocanoes.com/knowledge-base/xcreds-admin-guide/#preferences</string>
			<key>pfm_name</key>
			<string>shouldActivateSystemInfoButton</string>
			<key>pfm_title</key>
			<string>Should Activate System Info Button</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>https://login.microsoftonline.com/common/.well-known/openid-configuration</string>
			<key>pfm_description</key>
			<string>The discovery URL provided by your OIDC / Cloud provider. For Google it is typically https://accounts.google.com/.well-known/openid-configuration and for Azure it is typically https://login.microsoftonline.com/common/.well-known/openid-configuration.</string>
			<key>pfm_documentation_url</key>
			<string>https://twocanoes.com/knowledge-base/xcreds-admin-guide/#preferences</string>
			<key>pfm_name</key>
			<string>discoveryURL</string>
			<key>pfm_title</key>
			<string>Discovery URL</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Login Window webview width (Integer). If this is not defined, it will be full width. Minimum value of 150.</string>
			<key>pfm_documentation_url</key>
			<string>https://twocanoes.com/knowledge-base/xcreds-admin-guide/#preferences</string>
			<key>pfm_name</key>
			<string>loginWindowWidth</string>
			<key>pfm_range_min</key>
			<integer>150</integer>
			<key>pfm_title</key>
			<string>Login Window Width</string>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Login Window webview height (Integer). If this is not defined, it will be full height. Minimum value of 150.</string>
			<key>pfm_documentation_url</key>
			<string>https://twocanoes.com/knowledge-base/xcreds-admin-guide/#preferences</string>
			<key>pfm_name</key>
			<string>loginWindowHeight</string>
			<key>pfm_range_min</key>
			<integer>150</integer>
			<key>pfm_title</key>
			<string>Login Window Height</string>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>4.0</string>
			<key>pfm_default</key>
			<string>Please Wait....</string>
			<key>pfm_description</key>
			<string>When no network connection or a profile is not defined, this title is shown in an HTML view to the user when cloud login is configured.</string>
			<key>pfm_documentation_url</key>
			<string>https://twocanoes.com/knowledge-base/xcreds-admin-guide/#preferences</string>
			<key>pfm_name</key>
			<string>loadPageTitle</string>
			<key>pfm_title</key>
			<string>LoadPage Title</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>4.0</string>
			<key>pfm_default</key>
			<string>(or try connecting to network or check preferences)</string>
			<key>pfm_description</key>
			<string>When no network connection or a profile is not defined, this text is shown in an HTML view to the user when cloud login is configured.</string>
			<key>pfm_documentation_url</key>
			<string>https://twocanoes.com/knowledge-base/xcreds-admin-guide/#preferences</string>
			<key>pfm_name</key>
			<string>loadPageInfo</string>
			<key>pfm_title</key>
			<string>LoadPage Info</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>URL to an image to show in the background while logging in. Default value: file:///System/Library/Desktop Pictures/Monterey Graphic.heic.</string>
			<key>pfm_documentation_url</key>
			<string>https://twocanoes.com/knowledge-base/xcreds-admin-guide/#preferences</string>
			<key>pfm_name</key>
			<string>loginWindowBackgroundImageURL</string>
			<key>pfm_title</key>
			<string>Login Window Background Image URL</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>xcreds://auth/</string>
			<key>pfm_description</key>
			<string>The URI passed back to the webview after successful authentication. Default value: xcreds://auth/</string>
			<key>pfm_documentation_url</key>
			<string>https://twocanoes.com/knowledge-base/xcreds-admin-guide/#preferences</string>
			<key>pfm_name</key>
			<string>redirectURI</string>
			<key>pfm_title</key>
			<string>Redirect URI</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>profile openid</string>
			<key>pfm_description</key>
			<string>Scopes tell the identify provider what information to return. Note that the values are provided with a single space between them.

Provide the following values the follow IdPs:

Google: profile openid email
Azure: profile openid offline_access

Note that Google does not support the offline_access scope so instead use the preference shouldSetGoogleAccessTypeToOffline. Azure provides unique_name which is mapped to the local user account by using the prefix before &quot;@&quot; in unique_name and matching to the short name of a user account. Google provides &quot;email&quot; and is matched in the same way.</string>
			<key>pfm_documentation_url</key>
			<string>https://twocanoes.com/knowledge-base/xcreds-admin-guide/#preferences</string>
			<key>pfm_name</key>
			<string>scopes</string>
			<key>pfm_note</key>
			<string>All scopes should be lowercase and separated by single spaces</string>
			<key>pfm_title</key>
			<string>Scopes</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>5.9</string>
			<key>pfm_description</key>
			<string>When using Google Cloud, show the domain defined with this key as the user&apos;s domain when the user enters their name.</string>
			<key>pfm_documentation_url</key>
			<string>https://twocanoes.com/knowledge-base/xcreds-admin-guide/#preferences</string>
			<key>pfm_name</key>
			<string>googleHostDomain</string>
			<key>pfm_title</key>
			<string>Google Host Domain</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>6.0</string>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Allow a gesture to exit Single App Mode. Mainly for testing, mobile only.</string>
			<key>pfm_documentation_url</key>
			<string>https://twocanoes.com/knowledge-base/xcreds-admin-guide/#preferences</string>
			<key>pfm_name</key>
			<string>shouldAllowExitSAM</string>
			<key>pfm_title</key>
			<string>Should Allow Exit Single App Mode</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>6.0</string>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>When authenticating, quit app. Mobile only.</string>
			<key>pfm_documentation_url</key>
			<string>https://twocanoes.com/knowledge-base/xcreds-admin-guide/#preferences</string>
			<key>pfm_name</key>
			<string>shouldExitOnSuccessfulAuth</string>
			<key>pfm_title</key>
			<string>Should Exit On Successful Auth</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<true/>
			<key>pfm_description</key>
			<string>Show Configure WiFi button in XCreds Login.</string>
			<key>pfm_documentation_url</key>
			<string>https://twocanoes.com/knowledge-base/xcreds-admin-guide/#preferences</string>
			<key>pfm_name</key>
			<string>shouldShowConfigureWifiButton</string>
			<key>pfm_title</key>
			<string>Show Configure WiFi</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>5.0</string>
			<key>pfm_default</key>
			<true/>
			<key>pfm_description</key>
			<string>Show Configure System Info in XCreds Login.</string>
			<key>pfm_documentation_url</key>
			<string>https://twocanoes.com/knowledge-base/xcreds-admin-guide/#preferences</string>
			<key>pfm_name</key>
			<string>shouldShowSystemInfoButton</string>
			<key>pfm_title</key>
			<string>Show System Info Button</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>5.0</string>
			<key>pfm_default</key>
			<string>System Info</string>
			<key>pfm_description</key>
			<string>The title of the button for system info in the bottom right corner of the login screen. This can either be plain text or one of these special values: .os, .hostname, .ipaddress, .serial, .mac, .computername, .ssid. Using the special value will populate the associated information as the button title.</string>
			<key>pfm_documentation_url</key>
			<string>https://twocanoes.com/knowledge-base/xcreds-admin-guide/#preferences</string>
			<key>pfm_name</key>
			<string>systemInfoButtonTitle</string>
			<key>pfm_title</key>
			<string>System Info Button Title</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Hostname of the page that has the password field. When the user submits the form, XCreds will use idpHostName to identify a page it needs to look for the password field. The password value is identified by an HTML id defined by passwordElementID. If this value is not defined. XCreds will look for login.microsoftonline.com and accounts.google.com. This value is commonly set for other IdP’s and for Azure environments that use ADFS.</string>
			<key>pfm_documentation_url</key>
			<string>https://twocanoes.com/knowledge-base/xcreds-admin-guide/#preferences</string>
			<key>pfm_name</key>
			<string>idpHostName</string>
			<key>pfm_title</key>
			<string>IDP Host Name</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>array of hostnames of the page that has the password field.</string>
			<key>pfm_name</key>
			<string>idpHostNames</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_name</key>
					<string>idpHostName</string>
					<key>pfm_type</key>
					<string>string</string>
				</dict>
			</array>
			<key>pfm_title</key>
			<string>IDP Host Names</string>
			<key>pfm_type</key>
			<string>array</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>array of Wifi Networks</string>
			<key>pfm_name</key>
			<string>wifiNetworks</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_name</key>
					<string>ssid</string>
					<key>pfm_type</key>
					<string>string</string>
				</dict>
				<dict>
					<key>pfm_name</key>
					<string>wifiPassword</string>
					<key>pfm_type</key>
					<string>string</string>
				</dict>
			</array>
			<key>pfm_title</key>
			<string>WiFi Networks</string>
			<key>pfm_type</key>
			<string>array</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Password element id of the html element that has the password. It is read by using JavaScript to get the value (for example, for Azure, the JavaScript document.getElementById(&apos;i0118&apos;).value is sent. If this default is not set, standard values for Azure and Google Cloud will be used. To find out this value, use a browser to inspect the source of the page that has the password on it. Find the id of the textfield that has the password. Fill in the password and then open the JavaScript console. Run:

document.getElementById(&apos;passwordID&apos;).value

changing &quot;passwordID&quot; to the correct element ID. If the value you typed into the textfield is returned, this is the correct ID.</string>
			<key>pfm_documentation_url</key>
			<string>https://twocanoes.com/knowledge-base/xcreds-admin-guide/#preferences</string>
			<key>pfm_name</key>
			<string>passwordElementID</string>
			<key>pfm_title</key>
			<string>Password Element ID</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>name</string>
			<key>pfm_description</key>
			<string>Local DS to OIDC Mapping/AD Attribute for Name. Default value: &quot;name&quot; (OIDC), &quot;userPrincipalName&quot; (AD). map_username should be set to an OIDC claim/AD Attribute for name. The macOS username will be set as the portion of this value before an @ symbol if present.</string>
			<key>pfm_documentation_url</key>
			<string>https://twocanoes.com/knowledge-base/xcreds-admin-guide/#preferences</string>
			<key>pfm_name</key>
			<string>map_username</string>
			<key>pfm_note</key>
			<string>Map Username to OIDC claim/AD Attribute</string>
			<key>pfm_title</key>
			<string>Username OIDC Mapping/AD Attribute</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>Seconds before a local notifications is sent to remind user to lock ipad. Repeats.</string>
			<key>pfm_documentation_url</key>
			<string>https://twocanoes.com/knowledge-base/xcreds-admin-guide/#preferences</string>
			<key>pfm_name</key>
			<string>notificationReminderTimerSeconds</string>
			<key>pfm_range_min</key>
			<integer>60</integer>
			<key>pfm_title</key>
			<string>Notification Reminder Timer in Seconds</string>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>6.0</string>
			<key>pfm_description</key>
			<string>Webhook URL to post events</string>
			<key>pfm_documentation_url</key>
			<string>https://twocanoes.com/knowledge-base/xcreds-admin-guide/#preferences</string>
			<key>pfm_name</key>
			<string>webhookURLString</string>
			<key>pfm_title</key>
			<string>Webhook URL String</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
        <dict>
            <key>pfm_description</key>
            <string>The Authorization token for the webhook server. The app sends the token in the HTTP Authorization header.</string>
            <key>pfm_documentation_url</key>
            <string>https://twocanoes.com/knowledge-base/xcreds-admin-guide/#preferences</string>
            <key>pfm_name</key>
            <string>webHookAuthToken</string>
            <key>pfm_title</key>
            <string>Webhook Authorization Token</string>
            <key>pfm_type</key>
            <string>string</string>
        </dict>
        <dict>
            <key>pfm_description</key>
            <string>The serial number or identifier for the device. If available, the app sends this identifier in the webhook payload for login and logout events.</string>
            <key>pfm_documentation_url</key>
            <string>https://twocanoes.com/knowledge-base/xcreds-admin-guide/#preferences</string>
            <key>pfm_name</key>
            <string>deviceSerial</string>
            <key>pfm_title</key>
            <string>Device Serial Number</string>
            <key>pfm_type</key>
            <string>string</string>
        </dict>
	</array>
	<key>pfm_targets</key>
	<array>
		<string>system</string>
		<string>user</string>
	</array>
	<key>pfm_title</key>
	<string>XCreds Mobile</string>
	<key>pfm_unique</key>
	<false/>
	<key>pfm_version</key>
	<integer>16</integer>
</dict>
</plist>
