<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pfm_app_url</key>
	<string>https://github.com/SAP/macOS-enterprise-privileges</string>
	<key>pfm_description</key>
	<string>Use this section to define settings for the SAP Privileges app</string>
	<key>pfm_documentation_url</key>
	<string>https://github.com/SAP/macOS-enterprise-privileges/wiki/Managing-Privileges</string>
	<key>pfm_domain</key>
	<string>corp.sap.privileges</string>
	<key>pfm_format_version</key>
	<integer>1</integer>
	<key>pfm_last_modified</key>
	<date>2025-06-30T14:30:53Z</date>
	<key>pfm_macos_min</key>
	<string>10.12</string>
	<key>pfm_platforms</key>
	<array>
		<string>macOS</string>
	</array>
	<key>pfm_subkeys</key>
	<array>
		<dict>
			<key>pfm_default</key>
			<string>Configures SAP Privileges app settings</string>
			<key>pfm_description</key>
			<string>The human-readable description of this payload. This description appears on the Detail screen.</string>
			<key>pfm_description_reference</key>
			<string>Optional. A human-readable description of this payload. This description is shown on the Detail screen.</string>
			<key>pfm_name</key>
			<string>PayloadDescription</string>
			<key>pfm_title</key>
			<string>Payload Description</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>SAP Privileges app</string>
			<key>pfm_description</key>
			<string>The human-readable name for the profile payload. The name appears on the Detail screen and doesn't need to be unique.</string>
			<key>pfm_description_reference</key>
			<string>A human-readable name for the profile payload. This name is displayed on the Detail screen. It does not have to be unique.</string>
			<key>pfm_name</key>
			<string>PayloadDisplayName</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Display Name</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>corp.sap.privileges</string>
			<key>pfm_description</key>
			<string>The reverse-DNS-style identifier for the payload. This identifier is usually the same as the TopLevel value, with an additional appended component. This string must be unique within the profile.
During a profile replacement, the system updates payloads with the same 'PayloadIdentifier' and 'PayloadUUID' in the old and new profiles.</string>
			<key>pfm_description_reference</key>
			<string>A reverse-DNS-style identifier for the specific payload. It is usually the same identifier as the root-level PayloadIdentifier value with an additional component appended.</string>
			<key>pfm_name</key>
			<string>PayloadIdentifier</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Identifier</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>corp.sap.privileges</string>
			<key>pfm_description</key>
			<string>The payload type, which each payload domain's reference page specifies.</string>
			<key>pfm_description_reference</key>
			<string>The payload type.</string>
			<key>pfm_name</key>
			<string>PayloadType</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Type</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string></string>
			<key>pfm_description</key>
			<string>The globally unique identifier for the payload. The actual content is unimportant, but must be globally unique. In macOS, use 'uuidgen' to generate UUIDs.
During a profile replacement, the system updates payloads with the same 'PayloadIdentifier' and 'PayloadUUID' in the old and new profiles.</string>
			<key>pfm_description_reference</key>
			<string>A globally unique identifier for the payload. The actual content is unimportant, but it must be globally unique. In macOS, you can use uuidgen to generate reasonable UUIDs.</string>
			<key>pfm_format</key>
			<string>^[0-9A-Za-z]{8}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{12}$</string>
			<key>pfm_name</key>
			<string>PayloadUUID</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload UUID</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<integer>1</integer>
			<key>pfm_description</key>
			<string>The version of this specific payload.</string>
			<key>pfm_description_reference</key>
			<string>The version number of the individual payload.
A profile can consist of payloads with different version numbers. For example, changes to the VPN software in iOS might introduce a new payload version to support additional features, but Mail payload versions would not necessarily change in the same release.</string>
			<key>pfm_name</key>
			<string>PayloadVersion</string>
			<key>pfm_range_list</key>
			<array>
				<integer>1</integer>
			</array>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Version</string>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>The human-readable string containing the name of the organization that provides the profile. This value doesn't need to match the organization payload value in the enclosing dictionary.</string>
			<key>pfm_description_reference</key>
			<string>Optional. A human-readable string containing the name of the organization that provided the profile. The payload organization for a payload need not match the payload organization in the enclosing profile.</string>
			<key>pfm_name</key>
			<string>PayloadOrganization</string>
			<key>pfm_title</key>
			<string>Payload Organization</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>2.0.0</string>
			<key>pfm_description</key>
			<string>Set a fixed time interval after which administrator privileges expire and revert to standard user rights</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/SAP/macOS-enterprise-privileges/wiki/Managing-Privileges</string>
			<key>pfm_name</key>
			<string>ExpirationInterval</string>
			<key>pfm_note</key>
			<string>A value of 0 disables the timeout and allows the user to request permanent administrator privileges.</string>
			<key>pfm_range_min</key>
			<integer>0</integer>
			<key>pfm_title</key>
			<string>Expiration Interval</string>
			<key>pfm_type</key>
			<string>integer</string>
			<key>pfm_value_placeholder</key>
			<string>0</string>
			<key>pfm_value_unit</key>
			<string>minutes</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>2.0.0</string>
			<key>pfm_description</key>
			<string>Set a maximum time interval for a user to request administrative privileges</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/SAP/macOS-enterprise-privileges/wiki/Managing-Privileges</string>
			<key>pfm_name</key>
			<string>ExpirationIntervalMax</string>
			<key>pfm_note</key>
			<string>Setting ExpirationIntervalMax to 20 minutes lets users choose a timeout up to 20 minutes, rather than forcing a 20-minute timeout. For better usability, we recommend using ExpirationIntervalMax</string>
			<key>pfm_range_min</key>
			<integer>0</integer>
			<key>pfm_title</key>
			<string>Expiration Interval Max</string>
			<key>pfm_type</key>
			<string>integer</string>
			<key>pfm_value_placeholder</key>
			<string>0</string>
			<key>pfm_value_unit</key>
			<string>minutes</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>2.0.0</string>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>Specifies whether to allow biometric authentication in the PrivilegesCLI to obtain administrator privileges</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/SAP/macOS-enterprise-privileges/wiki/Managing-Privileges</string>
			<key>pfm_name</key>
			<string>AllowCLIBiometricAuthentication</string>
			<key>pfm_note</key>
			<string>When set to true, the Privileges agent prompts the user for the account password (or Touch ID, if available).</string>
			<key>pfm_title</key>
			<string>Allow CLI Biometric Authenication</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>2.0.0</string>
			<key>pfm_description</key>
			<string>If set, the PrivilegesAgent executes the given application or script and provides the current user's user name ($1) and its privileges (admin or user, $2) as launch arguments</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/SAP/macOS-enterprise-privileges/wiki/Managing-Privileges</string>
			<key>pfm_name</key>
			<string>PostChangeExecutablePath</string>
			<key>pfm_note</key>
			<string>If the application or script does not exist or is not executable, the launch operation fails silently.</string>
			<key>pfm_title</key>
			<string>Post Change Executable Path</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>2.0.0</string>
			<key>pfm_conditionals</key>
			<array>
				<dict>
					<key>pfm_target_conditions</key>
					<array>
						<dict>
							<key>pfm_present</key>
							<true/>
							<key>pfm_target</key>
							<string>PostChangeExecutablePath</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>If set to true, the application or script, specified in PostChangeExecutablePath, will only be executed if administrator privileges are granted to a user, but not the privileges are revoked.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/SAP/macOS-enterprise-privileges/wiki/Managing-Privileges</string>
			<key>pfm_exclude</key>
			<array>
				<dict>
					<key>pfm_target_conditions</key>
					<array>
						<dict>
							<key>pfm_present</key>
							<false/>
							<key>pfm_target</key>
							<string>PostChangeExecutablePath</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>pfm_name</key>
			<string>PostChangeActionOnGrantOnly</string>
			<key>pfm_title</key>
			<string>Post Change Action On Grant Only</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>2.0.0</string>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>If set to true, the user's administrator privileges are revoked at login</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/SAP/macOS-enterprise-privileges/wiki/Managing-Privileges</string>
			<key>pfm_name</key>
			<string>RevokePrivilegesAtLogin</string>
			<key>pfm_title</key>
			<string>Revoke Privileges at Login</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>2.0.0</string>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>By default, Privileges hides open windows to show the desktop and ensure that only the Privileges window is visible on the screen</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/SAP/macOS-enterprise-privileges/wiki/Managing-Privileges</string>
			<key>pfm_name</key>
			<string>HideOtherWindows</string>
			<key>pfm_note</key>
			<string>Set HideOtherWindows to false to disable this function</string>
			<key>pfm_title</key>
			<string>Hide Other Windows</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_value_inverted</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>1.5.0</string>
			<key>pfm_default</key>
			<string>admin</string>
			<key>pfm_description</key>
			<string>Enforces certain privileges. Whenever Privileges.app or the PrivilegesCLI command line tool are launched, the corresponding privileges are set.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/SAP/macOS-enterprise-privileges/wiki/Managing-Privileges</string>
			<key>pfm_name</key>
			<string>EnforcePrivileges</string>
			<key>pfm_range_list</key>
			<array>
				<string>admin</string>
				<string>user</string>
				<string>none</string>
			</array>
			<key>pfm_range_list_titles</key>
			<array>
				<string>Admin</string>
				<string>User</string>
				<string>None</string>
			</array>
			<key>pfm_title</key>
			<string>Enforce Privileges</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>1.5.0</string>
			<key>pfm_description</key>
			<string>Sets a fixed timeout for the Dock tile's Toggle Privileges command. After this time, the admin rights are removed and set back to standard user rights. A value of 0 disables the timeout and allows the user to permanently toggle privileges.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/SAP/macOS-enterprise-privileges/wiki/Managing-Privileges</string>
			<key>pfm_name</key>
			<string>DockToggleTimeout</string>
			<key>pfm_note</key>
			<string> If DockToggleMaxTimeout and DockToggleTimeout values have both been set, the value set for DockToggleTimeout will override whatever is set for DockToggleMaxTimeout.</string>
			<key>pfm_title</key>
			<string>Dock Toggle Timeout</string>
			<key>pfm_type</key>
			<string>integer</string>
			<key>pfm_value_placeholder</key>
			<string>10</string>
			<key>pfm_value_unit</key>
			<string>minutes</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>1.5.2</string>
			<key>pfm_description</key>
			<string>Set a maximum timeout for the Dock tile's Toggle Privileges command. This generally works the same way as the DockToggleTimeout but allows the user to choose every timeout value up to the one specified. If set to 20 min. for example, the user may decide to set it to a value below 20 instead of being forced to use the 20 minute timeout.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/SAP/macOS-enterprise-privileges/wiki/Managing-Privileges</string>
			<key>pfm_name</key>
			<string>DockToggleMaxTimeout</string>
			<key>pfm_note</key>
			<string> If DockToggleMaxTimeout and DockToggleTimeout values have both been set, the value set for DockToggleTimeout will override whatever is set for DockToggleMaxTimeout.</string>
			<key>pfm_title</key>
			<string>Dock Toggle Max Timeout</string>
			<key>pfm_type</key>
			<string>integer</string>
			<key>pfm_value_placeholder</key>
			<string>10</string>
			<key>pfm_value_unit</key>
			<string>minutes</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>1.5.0</string>
			<key>pfm_description</key>
			<string>Limits the usage of Privileges.app to the given user group.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/SAP/macOS-enterprise-privileges/wiki/Managing-Privileges</string>
			<key>pfm_name</key>
			<string>LimitToGroup</string>
			<key>pfm_title</key>
			<string>Limit to Group</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>1.5.0</string>
			<key>pfm_description</key>
			<string>Limits the usage of Privileges.app to the given user account.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/SAP/macOS-enterprise-privileges/wiki/Managing-Privileges</string>
			<key>pfm_name</key>
			<string>LimitToUser</string>
			<key>pfm_title</key>
			<string>Limit to User</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>1.5.0</string>
			<key>pfm_conditionals</key>
			<array>
				<dict>
					<key>pfm_require</key>
					<string>always</string>
					<key>pfm_target_conditions</key>
					<array>
						<dict>
							<key>pfm_present</key>
							<true/>
							<key>pfm_target</key>
							<string>ReasonMinLength</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>pfm_description</key>
			<string>If ReasonRequired is set to true, the user must provide a reason for needing admin rights.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/SAP/macOS-enterprise-privileges/wiki/Managing-Privileges</string>
			<key>pfm_name</key>
			<string>ReasonRequired</string>
			<key>pfm_note</key>
			<string>If setting ReasonRequired, the Toggle Privileges option is automatically disabled.</string>
			<key>pfm_title</key>
			<string>Reason Required</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>2.0.0</string>
			<key>pfm_conditionals</key>
			<array>
				<dict>
					<key>pfm_target_conditions</key>
					<array>
						<dict>
							<key>pfm_contains_any</key>
							<array>
								<true/>
							</array>
							<key>pfm_target</key>
							<string>ReasonRequired</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>pfm_default</key>
			<integer>250</integer>
			<key>pfm_description</key>
			<string>Specifies the maximum number of characters the user can enter as the reason for becoming an admin</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/SAP/macOS-enterprise-privileges/wiki/Managing-Privileges</string>
			<key>pfm_exclude</key>
			<array>
				<dict>
					<key>pfm_target_conditions</key>
					<array>
						<dict>
							<key>pfm_present</key>
							<false/>
							<key>pfm_target</key>
							<string>ReasonRequired</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>pfm_name</key>
			<string>ReasonMaxLength</string>
			<key>pfm_note</key>
			<string>If a value &gt;= 250 is specified or if ReasonMaxLength is &lt;= ReasonMinLength, the value is set to default.</string>
			<key>pfm_range_max</key>
			<integer>250</integer>
			<key>pfm_range_min</key>
			<integer>1</integer>
			<key>pfm_title</key>
			<string>Reason Maximum Length</string>
			<key>pfm_type</key>
			<string>integer</string>
			<key>pfm_value_unit</key>
			<string>characters</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>1.5.0</string>
			<key>pfm_conditionals</key>
			<array>
				<dict>
					<key>pfm_require</key>
					<string>always</string>
					<key>pfm_target_conditions</key>
					<array>
						<dict>
							<key>pfm_contains_any</key>
							<array>
								<true/>
							</array>
							<key>pfm_target</key>
							<string>ReasonRequired</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>pfm_default</key>
			<integer>10</integer>
			<key>pfm_description</key>
			<string>Specifies the minimum number of characters the user has to enter as the reason for becoming an admin.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/SAP/macOS-enterprise-privileges/wiki/Managing-Privileges</string>
			<key>pfm_exclude</key>
			<array>
				<dict>
					<key>pfm_target_conditions</key>
					<array>
						<dict>
							<key>pfm_present</key>
							<false/>
							<key>pfm_target</key>
							<string>ReasonRequired</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>pfm_name</key>
			<string>ReasonMinLength</string>
			<key>pfm_range_max</key>
			<integer>100</integer>
			<key>pfm_range_min</key>
			<integer>1</integer>
			<key>pfm_title</key>
			<string>Reason Minimum Length</string>
			<key>pfm_type</key>
			<string>integer</string>
			<key>pfm_value_unit</key>
			<string>characters</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>2.0.0</string>
			<key>pfm_conditionals</key>
			<array>
				<dict>
					<key>pfm_target_conditions</key>
					<array>
						<dict>
							<key>pfm_contains_any</key>
							<array>
								<true/>
							</array>
							<key>pfm_target</key>
							<string>ReasonRequired</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>pfm_description</key>
			<string>If ReasonRequired is set to true, this key allows to pre-define a list of possible reasons (for becoming an admin) the user can choose from</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/SAP/macOS-enterprise-privileges/wiki/Managing-Privileges</string>
			<key>pfm_exclude</key>
			<array>
				<dict>
					<key>pfm_target_conditions</key>
					<array>
						<dict>
							<key>pfm_present</key>
							<false/>
							<key>pfm_target</key>
							<string>ReasonRequired</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>pfm_name</key>
			<string>ReasonPresetList</string>
			<key>pfm_note</key>
			<string>If no exact match is found, the default localization is used. If there is no default localization, the en localization is used. If there is no en localization, the dictionary is skipped</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_hidden</key>
					<string>container</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_description</key>
							<string>Localization (de)</string>
							<key>pfm_name</key>
							<string>de</string>
							<key>pfm_title</key>
							<string>Localization</string>
							<key>pfm_type</key>
							<string>string</string>
							<key>pfm_value_placeholder</key>
							<string>Deutsch</string>
						</dict>
						<dict>
							<key>pfm_description</key>
							<string>Localization (en)</string>
							<key>pfm_name</key>
							<string>en</string>
							<key>pfm_title</key>
							<string>Localization</string>
							<key>pfm_type</key>
							<string>string</string>
							<key>pfm_value_placeholder</key>
							<string>English</string>
						</dict>
						<dict>
							<key>pfm_description</key>
							<string>Localization (es)</string>
							<key>pfm_name</key>
							<string>es</string>
							<key>pfm_title</key>
							<string>Localization</string>
							<key>pfm_type</key>
							<string>string</string>
							<key>pfm_value_placeholder</key>
							<string>Spanish</string>
						</dict>
						<dict>
							<key>pfm_description</key>
							<string>Localization (it)</string>
							<key>pfm_name</key>
							<string>it</string>
							<key>pfm_title</key>
							<string>Localization</string>
							<key>pfm_type</key>
							<string>string</string>
							<key>pfm_value_placeholder</key>
							<string>Italian</string>
						</dict>
						<dict>
							<key>pfm_description</key>
							<string>Unlocalization</string>
							<key>pfm_name</key>
							<string>default</string>
							<key>pfm_title</key>
							<string>Unlocalized</string>
							<key>pfm_type</key>
							<string>string</string>
							<key>pfm_value_placeholder</key>
							<string>Unlocalized</string>
						</dict>
					</array>
					<key>pfm_type</key>
					<string>dictionary</string>
				</dict>
			</array>
			<key>pfm_title</key>
			<string>Reason Preset List</string>
			<key>pfm_type</key>
			<string>array</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>2.0.0</string>
			<key>pfm_conditionals</key>
			<array>
				<dict>
					<key>pfm_target_conditions</key>
					<array>
						<dict>
							<key>pfm_contains_any</key>
							<array>
								<true/>
							</array>
							<key>pfm_target</key>
							<string>ReasonRequired</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>If set to true, the text the user enters for a reason is roughly parsed for valid words</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/SAP/macOS-enterprise-privileges/wiki/Managing-Privileges</string>
			<key>pfm_exclude</key>
			<array>
				<dict>
					<key>pfm_target_conditions</key>
					<array>
						<dict>
							<key>pfm_present</key>
							<false/>
							<key>pfm_target</key>
							<string>ReasonRequired</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>pfm_name</key>
			<string>ReasonCheckingEnabled</string>
			<key>pfm_note</key>
			<string>This feature is experimental and disabled by default. If you enable it, please check carefully that it works as expected in your environment</string>
			<key>pfm_title</key>
			<string>Reason Checking</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>2.0.0</string>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>If set to true, the Settings button is no longer displayed in the app</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/SAP/macOS-enterprise-privileges/wiki/Managing-Privileges</string>
			<key>pfm_name</key>
			<string>HideSettingsButton</string>
			<key>pfm_title</key>
			<string>Hide Settings Button</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>2.0.0</string>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>If set to true, the Settings menu item is no longer displayed in the Dock tile's menu</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/SAP/macOS-enterprise-privileges/wiki/Managing-Privileges</string>
			<key>pfm_name</key>
			<string>HideSettingsFromDockMenu</string>
			<key>pfm_title</key>
			<string>Hide Settings From Dock Menu</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>2.0.0</string>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>If set to true, the Settings menu item is no longer displayed in the status item's menu.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/SAP/macOS-enterprise-privileges/wiki/Managing-Privileges#HideSettingsFromStatusItem</string>
			<key>pfm_name</key>
			<string>HideSettingsFromStatusItem</string>
			<key>pfm_title</key>
			<string>Hide Settings From Menu Bar</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>2.0.0</string>
			<key>pfm_default</key>
			<false/>
			<key>pfm_description</key>
			<string>If set to true, a Privileges status item is displayed in the Menu Bar.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/SAP/macOS-enterprise-privileges/wiki/Managing-Privileges#ShowInMenuBar</string>
			<key>pfm_name</key>
			<string>ShowInMenuBar</string>
			<key>pfm_title</key>
			<string>Show in Menu Bar</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>1.5.0</string>
			<key>pfm_description</key>
			<string>Requires authentication before using Privileges.app. If set to true, the logged-in user is prompted to authenticate via Touch ID or by entering their account password.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/SAP/macOS-enterprise-privileges/wiki/Managing-Privileges</string>
			<key>pfm_name</key>
			<string>RequireAuthentication</string>
			<key>pfm_title</key>
			<string>Require User Authentication</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>1.5.0</string>
			<key>pfm_description</key>
			<string>Remote logging settings</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/SAP/macOS-enterprise-privileges/wiki/Managing-Privileges</string>
			<key>pfm_name</key>
			<string>RemoteLogging</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_app_min</key>
					<string>1.5.0</string>
					<key>pfm_description</key>
					<string></string>
					<key>pfm_name</key>
					<string>ServerType</string>
					<key>pfm_range_list</key>
					<array>
						<string>syslog</string>
						<string>webhook</string>
					</array>
					<key>pfm_range_list_titles</key>
					<array>
						<string>Syslog</string>
						<string>Webhook</string>
					</array>
					<key>pfm_title</key>
					<string>Server Type</string>
					<key>pfm_type</key>
					<string>string</string>
				</dict>
				<dict>
					<key>pfm_app_min</key>
					<string>1.5.0</string>
					<key>pfm_description</key>
					<string>This will usually be an IP address, unless the syslog server is set up to respond using a DNS hostname.</string>
					<key>pfm_name</key>
					<string>ServerAddress</string>
					<key>pfm_title</key>
					<string>Server Address</string>
					<key>pfm_type</key>
					<string>string</string>
				</dict>
				<dict>
					<key>pfm_app_min</key>
					<string>1.5.0</string>
					<key>pfm_default</key>
					<false/>
					<key>pfm_description</key>
					<string>If set to true, the log messages are sent via TCP instead of UDP. By default, messages are sent via UDP. Deprecated as of v2.0</string>
					<key>pfm_name</key>
					<string>EnableTCP</string>
					<key>pfm_title</key>
					<string>Enable TCP</string>
					<key>pfm_type</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>pfm_app_min</key>
					<string>1.5.0</string>
					<key>pfm_description</key>
					<string>Syslog-specific options</string>
					<key>pfm_name</key>
					<string>SyslogOptions</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_app_min</key>
							<string>1.5.0</string>
							<key>pfm_conditionals</key>
							<array>
								<dict>
									<key>pfm_require</key>
									<string>always</string>
									<key>pfm_target_conditions</key>
									<array>
										<dict>
											<key>pfm_present</key>
											<true/>
											<key>pfm_range_list</key>
											<array>
												<string>syslog</string>
											</array>
											<key>pfm_target</key>
											<string>RemoteLogging.ServerType</string>
										</dict>
									</array>
								</dict>
							</array>
							<key>pfm_default</key>
							<integer>4</integer>
							<key>pfm_description</key>
							<string>Configure syslog facility.</string>
							<key>pfm_documentation_url</key>
							<string>https://tools.ietf.org/html/rfc5424#section-6.2.1</string>
							<key>pfm_name</key>
							<string>LogFacility</string>
							<key>pfm_note</key>
							<string>Click the documentation link for more info on the Syslog Facility options.</string>
							<key>pfm_range_list</key>
							<array>
								<integer>0</integer>
								<integer>1</integer>
								<integer>2</integer>
								<integer>3</integer>
								<integer>4</integer>
								<integer>5</integer>
								<integer>6</integer>
								<integer>7</integer>
								<integer>8</integer>
								<integer>9</integer>
								<integer>10</integer>
								<integer>11</integer>
								<integer>12</integer>
								<integer>13</integer>
								<integer>14</integer>
								<integer>15</integer>
								<integer>16</integer>
								<integer>17</integer>
								<integer>18</integer>
								<integer>19</integer>
								<integer>20</integer>
								<integer>21</integer>
								<integer>22</integer>
								<integer>23</integer>
							</array>
							<key>pfm_range_list_titles</key>
							<array>
								<string>Kernel</string>
								<string>User-level</string>
								<string>Mail System</string>
								<string>System Daemons</string>
								<string>Security / Authorization</string>
								<string>Internal Syslogd</string>
								<string>Line Printer</string>
								<string>Network News</string>
								<string>UUCP</string>
								<string>Clock Daemon</string>
								<string>Security / Authorization</string>
								<string>FTP</string>
								<string>NTP</string>
								<string>Log Audit</string>
								<string>Log Alert</string>
								<string>Clock Daemon (note 2)</string>
								<string>Local Use 0 (local0)</string>
								<string>Local Use 1 (local1)</string>
								<string>Local Use 2 (local2)</string>
								<string>Local Use 3 (local3)</string>
								<string>Local Use 4 (local4)</string>
								<string>Local Use 5 (local5)</string>
								<string>Local Use 6 (local6)</string>
								<string>Local Use 7 (local7)</string>
							</array>
							<key>pfm_title</key>
							<string>Log Facility</string>
							<key>pfm_type</key>
							<string>integer</string>
						</dict>
						<dict>
							<key>pfm_app_min</key>
							<string>1.5.0</string>
							<key>pfm_default</key>
							<integer>6</integer>
							<key>pfm_description</key>
							<string>Configure syslog severity.</string>
							<key>pfm_documentation_url</key>
							<string>https://tools.ietf.org/html/rfc5424#section-6.2.1</string>
							<key>pfm_name</key>
							<string>LogSeverity</string>
							<key>pfm_note</key>
							<string>See the documentation link for more info on the Syslog Severity options.</string>
							<key>pfm_range_list</key>
							<array>
								<integer>0</integer>
								<integer>1</integer>
								<integer>2</integer>
								<integer>3</integer>
								<integer>4</integer>
								<integer>5</integer>
								<integer>6</integer>
								<integer>7</integer>
							</array>
							<key>pfm_range_list_titles</key>
							<array>
								<string>Emergency</string>
								<string>Alert</string>
								<string>Critical</string>
								<string>Error</string>
								<string>Warning</string>
								<string>Notice</string>
								<string>Informational</string>
								<string>Debug</string>
							</array>
							<key>pfm_title</key>
							<string>Log Severity</string>
							<key>pfm_type</key>
							<string>integer</string>
						</dict>
						<dict>
							<key>pfm_app_min</key>
							<string>1.5.0</string>
							<key>pfm_default</key>
							<integer>514</integer>
							<key>pfm_description</key>
							<string>The port of the logging server.</string>
							<key>pfm_name</key>
							<string>ServerPort</string>
							<key>pfm_title</key>
							<string>Server Port</string>
							<key>pfm_type</key>
							<string>integer</string>
						</dict>
						<dict>
							<key>pfm_app_min</key>
							<string>1.5.0</string>
							<key>pfm_default</key>
							<integer>480</integer>
							<key>pfm_description</key>
							<string>Specify the maximum size of the syslog message (header + event message). If the syslog message is larger than the specified maximum, the message will be truncated at the end.</string>
							<key>pfm_name</key>
							<string>MaximumMessageSize</string>
							<key>pfm_range_min</key>
							<integer>480</integer>
							<key>pfm_title</key>
							<string>Maximum Message Size</string>
							<key>pfm_type</key>
							<string>integer</string>
							<key>pfm_value_unit</key>
							<string>bytes</string>
						</dict>
					</array>
					<key>pfm_title</key>
					<string>Syslog Options</string>
					<key>pfm_type</key>
					<string>dictionary</string>
				</dict>
			</array>
			<key>pfm_title</key>
			<string>Remote Logging Settings</string>
			<key>pfm_type</key>
			<string>dictionary</string>
		</dict>
	</array>
	<key>pfm_targets</key>
	<array>
		<string>system</string>
	</array>
	<key>pfm_title</key>
	<string>SAP Privileges</string>
	<key>pfm_unique</key>
	<true/>
	<key>pfm_version</key>
	<integer>6</integer>
</dict>
</plist>
